<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CM"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity android:name=".PontosActivity" />
        <activity android:name=".MapInformActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdateActivity" />
        <activity android:name=".Infor" />
        <activity android:name=".ShowAll" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".RecyclerActivity" />
        <activity android:name=".RecyclerAdapter" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCMjgJtU2dv2UnP6ZLe28cHxRMInmPf_sc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>